<div class="swiper-container">
    <div class="swiper-wrapper">
			{{# each data.carousel }}
        <div class="swiper-slide swiper-slide-{{this.class}}">
					<img src="{{this.image.url}}"/>
					<a class="slide-title"><h2><span>{{this.title}}</span></h2></a>
				</div>
			{{/each}}
    </div>
    <div class="swiper-pagination"></div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

</div>
