.grid-row {
  display:flex;
  flex-wrap:wrap;
  margin:0;
  @media(min-width: 544px) {
    margin:0 -15px;
  }
  .list-item {
    position:relative;
    transition: all 0.8s;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:15px 15px 15px 15px;

    // @media(min-width: $breakpoint-sm) {
    //   margin:15px 15px 15px 15px;
    //   width: calc(100% * (1/2) - 30px - 1px);
    // }
    @media(min-width: $breakpoint-lg) {
      margin:15px 15px 15px 15px;
      width: calc(100% * (1/3) - 30px - 1px);
    }
    overflow:hidden;

  }
  &.work {
    .list-item {
      display:flex;
      .list-item-overlay {
        margin-top:auto;
        bottom:0;
        background:rgba(0,0,0,.33);
        position:absolute;
        left:0;
        width:100%;
        text-align:center;
        height:30%;
        align-items:center;
        display:flex;
        flex-direction:column;
        align-content: space-between;
        justify-content: center;
        h2 {
          font-family: 'Dosis', sans-serif;
          font-size:1.15rem;
          font-weight:500;
          color:white;
          position:relative;
          margin:0 auto;
          &:after {
            content:'';
            position:absolute;
            bottom:-4px;
            height:3px;
            width:100%;
            border-radius:3px;
            left:0;
          }
        }
        p {
          opacity:0;
          color:#eee;
          font-size:0.75rem;
          padding:1rem 2rem 0;
          font-weight:200;
          display:none;
        }
        .list-item-title {
          display:flex;
          flex-direction:column;
          margin:auto;
        }
      }
      &.tv {
        h2 {
          &:after {
            background:rgba(20,169,229,.5);
          }
        }
      }
      &.audio {
        h2 {
          &:after {
            background:rgba(0,168,157,.5);
          }
        }
      }
      &.digital {
        h2 {
          &:after {
            background:rgba(217,17,91,.5);
          }
        }
      }
      &.true-tube {
        h2 {
          &:after {
            background:rgba(215,225,0,.5);
          }
        }
      }
      &.blur {
        @media (min-width: $breakpoint-md) {
          img {
            transition: 100ms filter linear, 100ms -webkit-filter linear;
            filter: saturate(100%) blur(0px);
          }
          .list-item-overlay {
            transition: 100ms all ease-out;
            height:30%;
          }
          p {
            opacity:0;
            transition: 100ms all ease-out;
            filter: blur(5px);

          }
          &.tv {
            .list-item-overlay {
              h2 {
                &:after {
                  background:rgba(20,169,229,.7);
                }
              }
            }
          }
          &.audio {
            h2 {
              &:after {
                background:rgba(0,168,157,.7);
              }
            }
          }
          &.digital {
            h2 {
              &:after {
                background:rgba(217,17,91,.7);
              }
            }
          }
          &.true-tube {
            h2 {
              &:after {
                background:rgba(215,225,0,.7);
              }
            }
          }
        }
      }
      &.focus {
        @media (min-width: $breakpoint-md) {
          img {
            transition: 100ms filter linear, 100ms -webkit-filter linear;
            filter: saturate(50%) blur(5px);
          }
          .list-item-overlay {
            background:rgba(0,0,0,.7);
            transition: 100ms all ease-out;
            height:100%;
          }
          h2 {
            margin-top:1rem;
          }
          p {
            opacity:1;
            transition: 100ms all ease-out;
            display:flex;
            filter: blur(0px);
          }
          &.tv {
            .list-item-overlay {
              h2 {
                &:after {
                  background:rgba(20,169,229,.7);
                }
              }
            }
          }
          &.audio {
            h2 {
              &:after {
                background:rgba(0,168,157,.7);
              }
            }
          }
          &.digital {
            h2 {
              &:after {
                background:rgba(217,17,91,.7);
              }
            }
          }
          &.true-tube {
            h2 {
              &:after {
                background:rgba(215,225,0,.7);
              }
            }
          }
        }
      }
    }
  }
}

.work-filter {
  transition: all 500ms ease;
  display:flex;
  margin-bottom:1rem;
  a {
    font-family: 'Dosis', sans-serif;
    border:solid 1px rgba(151,151,151,.1);
    height:40px;
    border-radius:40px;
    align-self: center;
    display:flex;
    line-height:39px;
    padding:0 1.25rem;
    margin-right:.5rem;
    color:#4A4A4A;
    text-decoration:none;
    font-size:1rem;
    font-weight:500;
    transition: all 100ms ease;
    &:hover, &.active {
      background:rgba(74,74,74,.1);
      border-color:rgba(74,74,74,0);

    }
    &.tv {
      color:rgba(20,169,229,1);
      &:hover, &.active {
        background:rgba(20,169,229,1);
        color:white;
      }
    }
    &.audio {
      color:rgba(0,168,157,1);
      &:hover, &.active {
        background:rgba(0,168,157,1);
        color:white;
      }
    }
    &.digital {
      color:rgba(217,17,91,1);
      &:hover, &.active {
        background:rgba(217,17,91,1);
        color:white;
      }
    }
    &.true-tube {
      color:rgba(215,225,0,1);
      &:hover, &.active {
        background:rgba(215,225,0,1);
        color:white;
      }
    }
  }
}

@-webkit-keyframes blur {

  0% { filter: saturate(100%) blur(0px); }
  100% {
    filter: saturate(50%) blur(10px);
 }
}
