.grid-row {
  display: flex;
  margin: 0;

  flex-wrap: wrap;
  @media(min-width: 544px) {
    margin: 0 -15px;
  }
  .list-item {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    margin: 15px 0 0;

    align-items: center;

    // @media(min-width: $breakpoint-sm) {
    //   margin:15px 15px 15px 15px;
    //   width: calc(100% * (1/2) - 30px - 1px);
    // }
    @media(min-width: $breakpoint-lg) {
      width: calc(100% * (1/3) - 30px - 1px);
      margin: 15px 15px 15px 15px;
    }
    a {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &.work {
    .list-item {
      .list-item-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30%;
        margin-top: auto;
        text-align: center;
        background: rgba(0,0,0,.33);

        align-content: space-between;
        align-items: center;
        justify-content: center;
        h2 {
          font-family: $font-face, sans-serif;
          font-size: 1.15rem;
          font-weight: 500;
          position: relative;
          margin: -5px auto 0 auto;
          color: white;
          &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            content: '';
            border-radius: 3px;
          }
        }
        span {
          font-size: .75rem;
          display: none;
          padding: 0 0 .25rem;
          text-align: center;
          opacity: 0;
          color: #eee;
        }
        p {
          font-size: .75rem;
          font-weight: 200;
          display: none;
          padding: 1rem 2rem 0;
          opacity: 0;
          color: #eee;
        }
        .list-item-title {
          display: flex;
          flex-direction: column;
          margin: auto;
        }
      }
      &.tv {
        h2 {
          &:after {
            background: rgba(20,169,229,.5);
          }
        }
      }
      &.audio {
        h2 {
          &:after {
            background: rgba(0,168,157,.5);
          }
        }
      }
      &.digital {
        h2 {
          &:after {
            background: rgba(217,17,91,.5);
          }
        }
      }
      &.true-tube {
        h2 {
          &:after {
            background: rgba(215,225,0,.5);
          }
        }
      }
      &.blur {
        @media (min-width: $breakpoint-md) {
          img {
            transition: 100ms filter ease-out, 100ms -webkit-filter ease-out;

            filter: saturate(100%) blur(0px);
          }
          .list-item-overlay {
            height: 30%;
            transition: 100ms all ease-out;
          }
          p {
            transition: 100ms all ease-out;
            opacity: 0;

            filter: blur(5px);
          }
          &.tv {
            .list-item-overlay {
              h2 {
                &:after {
                  background: rgba(20,169,229,.7);
                }
              }
            }
          }
          &.audio {
            h2 {
              &:after {
                background: rgba(0,168,157,.7);
              }
            }
          }
          &.digital {
            h2 {
              &:after {
                background: rgba(217,17,91,.7);
              }
            }
          }
          &.true-tube {
            h2 {
              &:after {
                background: rgba(215,225,0,.7);
              }
            }
          }
        }
      }
      &.focus {
        @media (min-width: $breakpoint-md) {
          img {
            transition: 100ms filter ease-out, 100ms -webkit-filter ease-out;

            filter: saturate(50%) blur(5px);
          }
          .list-item-overlay {
            height: 100%;
            transition: 100ms all ease-out;
            background: rgba(0,0,0,.7);
          }
          h2 {
            margin: 1rem 1rem 0;
            padding-bottom: .5rem;
            transition: 100ms all ease-out;
          }
          p, span {
            display: flex;
            transition: 100ms all ease-out;
            opacity: 1;

            filter: blur(0px);
          }
          span {
            width: 100%;

            align-items: center;
            justify-content: center;
          }
          &.tv {
            .list-item-overlay {
              h2 {
                &:after {
                  background: rgba(20,169,229,.7);
                }
              }
            }
          }
          &.audio {
            h2 {
              &:after {
                background: rgba(0,168,157,.7);
              }
            }
          }
          &.digital {
            h2 {
              &:after {
                background: rgba(217,17,91,.7);
              }
            }
          }
          &.true-tube {
            h2 {
              &:after {
                background: rgba(215,225,0,.7);
              }
            }
          }
        }
      }
    }
  }
  &.people {
    img {
      width: 100%;
    }
    h2 {
      margin: 1rem 0 0;
      padding-bottom: .5rem;
      border-bottom: solid 1px #eee;
    }
    h3 {
      font-size: 1.25rem;
      margin-top: 0rem;
      margin-bottom: 1rem;
      padding-top: .5rem;
      color: #444;
    }
    p {
      font-size: .875rem;
      color: #444;
    }
    .people-copy {
      overflow: hidden;
      max-height: 0;
      transition: all 300ms ease-in;
      &.is-open {
        max-height: 1000px;
      }
    }
    .list-item-title {
      width: 100%;
    }
    a {
      font-size: .875rem;
      position: relative;
      display: flex;
      width: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      margin-left: 34px;
      text-decoration: none;
      color: #333;
      border-bottom: solid 1px #eee;

      align-items: center;
      &:hover {
        border-bottom-color: #333;
        &:before {
          border: solid 1px #ccc;
        }
      }
      &:before {
        position: absolute;
        top: 0;
        left: -34px;
        width: 24px;
        height: 24px;
        content: '';
        transition: all 100ms ease-in;
        border: solid 1px #eee;
        border-radius: 24px;
        background: no-repeat center center url('/images/icons/chevron-down.svg');
        background-size: 10px 10px;
      }
      &.active {
        &:before {
          background: no-repeat center center url('/images/icons/chevron-up.svg');
          background-size: 10px 10px;
        }
      }
    }
  }
}
.filters {
  display: flex;

  flex-grow: 1;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
  .work-filter {
    display: flex;
    margin-bottom: 1rem;
    transition: all 500ms ease;
    @media (max-width: 1024px) {
      flex-direction: column;

      flex-grow: 1;
    }
    &.show {
      display: flex;
    }
    @media (min-width: 1024px) {
      &.date {
        margin-left: auto;
        a {
          margin: 0 0 0 .5rem;
          @media(max-width:1024px) {
            width: 100%;
            margin: 0  0 .25rem .5rem;
          }
        }
      }
    }
  }

  a, button {
    font-family: $font-face, sans-serif;
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 36px;
    display: flex;
    height: 36px;
    margin-right: .25rem;
    padding: 0 1rem;
    cursor: pointer;
    transition: all 500ms ease-out;
    text-align: center;
    text-decoration: none;
    color: #4a4a4a;
    //color: #333 !important;
    border: solid 1px rgba(151,151,151,.1);
    border-radius: 40px;

    align-content: center;
    align-self: center;
    justify-content: center;
    &:hover, &.active {
      border-color: rgba(74,74,74,0);
      background: rgba(74,74,74,.1);
    }
    &.tv {
      //color: rgba(20,169,229,1);
      &:hover, &.active {
        color: white;
        background: rgba(20,169,229,1);
      }
    }
    &.audio {
      //color: rgba(0,168,157,1);
      &:hover, &.active {
        color: white;
        background: rgba(0,168,157,1);
      }
    }
    &.digital {
      //color: rgba(217,17,91,1);
      &:hover, &.active {
        color: white;
        background: rgba(217,17,91,1);
      }
    }
    &.true-tube {
      //color: rgba(215,225,0,1);
      &:hover, &.active {
        color: white;
        background: rgba(215,225,0,1);
      }
    }
  }
  button {
    position: relative;
    display: none;
    margin: 0;
    background: #eee;
    &:before {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 12px;
      height: 7px;
      content: '';
      background: url('/images/icons/chevron-down.svg');
    }
  }


  @media(max-width:1024px) {
    .work-filter {
      display: none;
    }
    a {
      width: 100%;
      margin: 0  0 .25rem 0;
    }
    button {
      display: flex;
      width: 100%;
      margin-bottom: .5rem;

      justify-content: flex-start;
    }
  }
}

@-webkit-keyframes blur {
  0% {
    filter: saturate(100%) blur(0px);
  }
  100% {
    filter: saturate(50%) blur(10px);
  }
}
