/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.container::after {
  display: table;
  clear: both;
  /* clearfix */
  content: '';
}


#timeline {
  position: relative;
  padding: 2em 0;
}
#timeline::before {
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 100%;
  /* this is the vertical line */
  content: '';
  background: #eee;
}
@media only screen and (min-width: 1170px) {
  #timeline::before {
    left: 50%;
    margin-left: -1px;
  }
}

.timeline-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  justify-content: center;
  @media(max-width:1285px) {
    margin-left: -2rem;
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;
  pointer-events: none;
}
.timeline-block:after {
  display: table;
  clear: both;
  content: '';
}
.timeline-block:first-child {
  margin-top: 0;
}
.timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline-block {
    margin: -8rem 0 4em 0;
  }
  .timeline-block:first-child {
    margin-top: 0;
  }
  .timeline-block:last-child {
    margin-bottom: 0;
  }
}

.timeline-year {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  margin-right: auto;
  margin-left: 1rem;
  padding: 0 .75rem;
  letter-spacing: -2px;
  color: #333;
  border: solid 2px #eee;
  background: white;
  @media(min-width:1170px) {
    font-size: 2rem;
    margin-right: auto;
    margin-left: auto;

    align-self: center;
    justify-content: center;
  }
}

.timeline-pip {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.timeline-pip-truetube {
  background: rgba(215, 225, 0, 1);
}
.timeline-pip-digital {
  background: rgba(217,17,91,1);
}
.timeline-pip-tv {
  background: rgba(20,169,229,1);
}
.timeline-pip-audio {
  background: rgba(0,168,157,1);
}
@media only screen and (min-width: 1170px) {
  .timeline-pip {
    top: 25px;
    left: 50%;
    width: 10px;
    height: 10px;
    margin-left: -5px;
  }
}


.timeline-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  text-align: center;
  border: solid 1px #eee;
  background: white;

  align-items: center;
  justify-content: center;
  img {
    width: 200px;
    margin: 1rem 0;
  }
  h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    position: relative;
    display: flex;
    margin: 0 1rem;
    padding: 0 0 .5rem;
    text-align: center;

    justify-content: center;
    &:after {
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
    }
  }
  &.tv {
    h2 {
      &:after {
        background: rgba(20,169,229,1);
      }
    }
  }
  &.audio {
    h2 {
      &:after {
        background: rgba(0,168,157,1);
      }
    }
  }
  &.digital {
    h2 {
      &:after {
        background: rgba(217,17,91,1);
      }
    }
  }
  &.truetube {
    h2 {
      &:after {
        background: rgba(215,225,0,1);
      }
    }
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  padding-top: 1rem;
  @media (max-width:768px) {
    font-size: 1.25rem;
  }
}
// .timeline-content:after {
//   display: table;
//   clear: both;
//   content: '';
// }

.timeline-image-block {
  padding: 1rem 0;
  img {
    max-height: 200px;
  }
}

.timeline-copy-block {
  margin-bottom: 1rem;
  padding: 0 1rem;
}




.timeline-content .read-more, .timeline-content .date {
  display: inline-block;
  pointer-events: auto;
}
.timeline-content p {
  font-size: .875rem;
  margin: 1rem 1rem 1rem;
  @media (max-width:768px) {
    font-size: .875rem;
    margin: .5rem 1rem 0rem;
  }
}

.timeline-button-wrapper {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  a {
    margin: 0 .25rem;
  }
  .link-external {
    padding-right: 2rem !important;
    &:before {
      top: 15px;
      right: 16px;
    }
  }
  @media (max-width:768px) {
    margin: 1rem;
  }
}

.timeline-content .read-more {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  line-height: 38px;
  display: flex;
  height: 40px;
  margin: .5rem .25rem 0;
  padding: 0 1.25rem;
  cursor: pointer;
  transition: all 500ms ease-out;
  text-align: center;
  text-decoration: none;
  color: #4a4a4a;
  color: #333 !important;
  border: solid 1px rgba(151,151,151,.1);
  border-radius: 40px;

  align-content: center;
  align-self: center;
  justify-content: center;
  &:hover, &.active {
    border-color: rgba(74,74,74,0);
    background: rgba(74,74,74,.1);
  }
  &.tv {
    color: rgba(20,169,229,1);
    &:hover, &.active {
      color: white;
      background: rgba(20,169,229,1);
    }
  }
  &.audio {
    color: rgba(0,168,157,1);
    &:hover, &.active {
      color: white;
      background: rgba(0,168,157,1);
    }
  }
  &.digital {
    color: rgba(217,17,91,1);
    &:hover, &.active {
      color: white;
      background: rgba(217,17,91,1);
    }
  }
  &.truetube {
    color: rgba(215,225,0,1);
    &:hover, &.active {
      color: white;
      background: rgba(215,225,0,1);
    }
  }
}
.no-touch .timeline-content .read-more:hover {
  background-color: #bac4cb;
}
.timeline-content .date {
  float: left;
  padding: .8em 0;
  text-align: left;
  color: white;
}
.timeline-content::before {
  position: absolute;
  z-index: 3;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.timeline-content::after {
  position: absolute;
  z-index: 2;
  top: 16px;
  right: 100%;
  width: 0;
  height: 0;
  content: '';
  border: 8px solid transparent;
  border-right: 8px solid #eee;
}

@media only screen and (min-width: 1170px) {
  .timeline-content {
    width: 45%;
    margin-left: 0;
  }
  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .timeline-content::after {
    top: 23px;
    left: 100%;
    border-color: transparent;
    border-left-color: #eee;
  }
  .timeline-content .read-more {
    float: left;
  }
  .timeline-content .date {
    font-size: 16px;
    font-size: 1rem;
    position: absolute;
    top: 6px;
    left: 122%;
    width: 100%;
  }
  .timeline-block:nth-child(even) .timeline-content {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    right: 100%;
    left: auto;
    border-color: transparent;
    border-right-color: white;
  }

  .timeline-block:nth-child(even) .timeline-content::after {
    top: 23px;
    right: 100%;
    left: auto;
    border-color: transparent;
    border-right-color: #eee;
  }
  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }
  .timeline-block:nth-child(even) .timeline-content .date {
    right: 122%;
    left: auto;
    text-align: right;
  }
}
